<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openeg.openegscts.student.repository.ICompareMapper">

    <select id="getLineNum" resultType="com.openeg.openegscts.student.entity.Compare" parameterType="string">
        select scode_line_num as scodeLineNum
        from submit_code_tb
        where scode_id=#{scodeId}
    </select>

    <select id="getSecFile" resultType="com.openeg.openegscts.student.entity.Compare" parameterType="string">
        select sb.scode_sec_file as scodeSecFile,
               sb.sec_id as secId,
               l.language_type as languageType,
               sb.scode_keyword as scodeKeyword
        from submit_code_tb sb, language_tb l
        where scode_id=#{scodeId}
        and sb.language_id=l.language_id
    </select>

    <select id="getKeyword" resultType="com.openeg.openegscts.student.entity.Compare" parameterType="string">
        select sb.sec_id as secId,
               l.language_type as languageType,
               sb.scode_keyword as scodeKeyword,
               sb.scode_sec_file as scodeSecFile
        from submit_code_tb sb, language_tb l
        where scode_id=#{scodeId}
        and sb.language_id=l.language_id
    </select>

    <select id="getSubmitResult" resultType="com.openeg.openegscts.student.entity.SubmitResult" parameterType="string">
        select sb.scode_id as scodeId,
               sb.scode_vul_desc as scodeVulDesc,
               sb.scode_sec_desc as scodeSecDesc,
               sc.try_num_first as tryNumFirst,
               sc.try_num_second as tryNumSecond
        from submit_code_tb sb, solved_code_tb sc
        where sb.scode_id=#{scodeId}
            and sc.user_id=#{userId}
            and sb.scode_id=sc.scode_id
    </select>

    <insert id="insertSolvedCode" useGeneratedKeys="true" keyProperty="solvedId" parameterType="com.openeg.openegscts.student.entity.Compare">
        insert into solved_code_tb(solved_id, user_id, scode_id, try_num_first, try_num_second, solved_date_first, solved_date_second)
               SELECT #{solvedId}, #{userId}, #{scodeId}, 1, 0, null, null
                FROM dual
                WHERE NOT EXISTS (SELECT *
                                    FROM solved_code_tb
                                    WHERE scode_id=#{scodeId}
               						AND user_id=#{userId})
    </insert>

    <select id="getInsertSolvedCode" resultType="com.openeg.openegscts.student.entity.InsertSolvedCode" parameterType="string">
        select solved_id as solvedId,
               user_id as userId,
               scode_id as scodeId
        from solved_code_tb
        where scode_id=#{scodeId}
        and user_id=#{userId}
    </select>

    <update id="updateFirstTryNum" parameterType="long">
        update solved_code_tb
        set try_num_first = try_num_first + 1
        where solved_id=#{solvedId}
    </update>

    <update id="updateSecondTryNum" parameterType="string">
        update solved_code_tb
        set try_num_second = try_num_second + 1
        where scode_id=#{scodeId}
        and user_id=#{userId}
    </update>

    <update id="updateLastTryDate" parameterType="long">
        update solved_code_tb
        set last_try_date = DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s')
        where solved_id=#{solvedId}
    </update>

    <update id="updateLastTryDate2" parameterType="string">
        update solved_code_tb
        set last_try_date = DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s')
        where scode_id=#{scodeId}
        and user_id=#{userId}
    </update>

    <update id="updateFirstSolvedDate" parameterType="long">
        update solved_code_tb
        set solved_date_first = DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s')
        where solved_id=#{solvedId}
    </update>

    <update id="updateSecondSolvedDate" parameterType="string">
        update solved_code_tb
        set solved_date_second = DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s')
        where scode_id=#{scodeId}
        and user_id=#{userId}
    </update>

    <update id="updateTotalTryNum" parameterType="String">
        update submit_code_tb
        set scode_try_num = scode_try_num + 1
        where scode_id=#{scodeId}
    </update>

    <update id="updateTotalSuccNum" parameterType="String">
        update submit_code_tb
        set scode_succ_num = scode_succ_num + 1
        where scode_id=#{scodeId}
    </update>

</mapper>