<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openeg.openegscts.student.repository.ILanguageMapper">

    <insert id="insertLanguage" useGeneratedKeys="true" keyProperty="languageId" parameterType="com.openeg.openegscts.student.entity.Language">
        insert ignore into language_tb(language_id, language_type, language_reg_date)
               values(#{languageId}, #{languageType}, DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s'))
    </insert>

    <delete id="deleteLanguage" parameterType="string">
        delete from language_tb where language_id=#{languageId}
    </delete>

    <select id="getLanList" resultType="com.openeg.openegscts.student.entity.Language">
        select language_id as languageId,
               language_type as languageType,
               language_reg_date as languageRegDate
        from language_tb
        order by language_reg_date asc
    </select>

    <select id="getAllSecNameList" resultType="com.openeg.openegscts.student.entity.SecurityVulName">
        select sec_id as secId,
               sec_name as secName
        from security_tb
        order by sec_reg_date asc
    </select>

    <select id="getSecNameList" resultType="com.openeg.openegscts.student.entity.SecurityVulName" parameterType="string">
        select distinct sec.sec_id as secId,
                        sec.sec_name as secName,
                        sca.scategory_name as scategoryName,
                        COUNT(*) as count
        from submit_code_tb sb, security_tb sec, security_category_tb sca
        where sb.language_id = #{languageId}
            and sec.sec_id = sb.sec_id
            and sb.scode_approval = 1
            and sec.scategory_id= sca.scategory_id
        group by sec_name
        order by sec_reg_date asc
    </select>

</mapper>