<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.openeg.openegscts.student.repository.IUserMapper">

    <insert id="signUpTrainer" useGeneratedKeys="true" keyProperty="userId" parameterType="com.openeg.openegscts.student.entity.Users">
        insert into user_tb(user_id, name, email, password, type, reg_date, is_oauth) values(#{userId}, #{name}, #{email}, #{password}, 2, DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s'), 0)
    </insert>

    <insert id="signUpTrainerOAuth" useGeneratedKeys="true" keyProperty="userId" parameterType="com.openeg.openegscts.student.entity.Users">
        insert ignore into user_tb(user_id, name, email, type, reg_date, is_oauth) values(#{userId}, #{name}, #{email}, 2, DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s'), 1)
    </insert>

    <select id="confirmTrainer" resultType="com.openeg.openegscts.student.entity.Users" parameterType="string">
        select user_id as userId,
               name,
               email,
               password,
               type,
               reg_date as regDate
        from user_tb
        where email=#{email}
        and type = 2
    </select>

    <select id="confirmTrainerOauth" resultType="com.openeg.openegscts.student.entity.Users" parameterType="string">
        select user_id as userId,
               name,
               email,
               type,
               reg_date as regDate
        from user_tb
        where email=#{email}
    </select>

</mapper>